* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.map {
  display: flex;
  height: 600px;
}

.draw {
  position: absolute;
  top: 8px;
  left: 40px;
  padding: 3px 6px;
  border: 1px solid lightgray;
  background: white;
  border-radius: 3px;
  font-weight: bold;
  color: darkslategray;
}
.draw:hover {
  border: 1px solid black;
}
